*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
    text-decoration: none;

}

/**nav bar**/
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/**navbarbox1**/
.nav-log{
    height:50px;
    width:95px;
    
}
.logo{
    background-image: url(boximage/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 90px;

    
}
.border{
    border : 2px solid transparent;
 

}
.border:hover{
    border: 1.5px solid white;
    
}


/**navbarbox2**/

.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    width: 60px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;

}
.address-icon{
    display: flex;
    align-items: center;

}

/**navbarbox 3**/
.nav-search{
    display:flex;
    justify-content: space-evenly;
    width: 1100px;
    height:40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid #ff9900;
    border-radius:4px;

}
.search-select{
    
    background-color: #E6E6E6;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
    
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #ff9900;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px ;
    color: black;
}

/**box4**/
.languagebox{
    display: flex;

}
.uslogo{
    background-image: url(boximage/usa.jpeg);
    background-size: cover;
    width: 21px;
    height: 16px;

}
.countryselect{
    background-color: #0f1111;
    color: #ffffff;
    font-size: 14px;
    border:none;
    font-family: Arial;
    font-weight: 700;
}

/**box5**/

.signin{
    #para{
        font-size: 0.7rem;
        padding-left: 4px;
        color: #ffffff;

    }
    
}


.nav-account{
    background-color: #0f1111;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 0.85rem;
    
}

/**box6**/
span{
    font-size: 0.8rem;
    color: #ffffff;
}

/**box7**/

.navcart i{
    font-size:35px;
}
.navcart{
    font-size: 0.85;
    font-weight: 700;
}

/** panel **/

.panel{
    display: flex;
    height: 40px;
    background-color: #232f3e;
    text-decoration: none;
    color: #cccccc;
    align-items: center;
}
.panelall{
    width: 50px;
    margin-left: 15px;
    
}
.panelall a{
    color:white;
    font-weight: 700p;
    font-size: small;
}


.panel-opt{
    width: 70%;
    font-size: 0.85rem;
    
    
    
}
.panel-opt a{
    color: #ffffff;
    margin-left: 15px;
}

.panel-deals{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}
.panel-deals a {
    font-size: 0.9rem;
    font-weight: 700;
    color: #ffffff;

    
}


/**background image 1 **/



.bkimage1{
    display: flex;
    background-image: url(boximage/hero_image2.jpg);
    background-size: cover;
    height: 350px;
    justify-content: center;
    align-items: end;



}   
   
.imagetext{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width: 1450px;
    background-color: white;
    font-size: 14px;
    margin-bottom: 25px;
    color:black;
    
    

}
/*shpop section*/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #F3DEDF
}
.box{
    
    height:400px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    
}
.boximage{
    height: 300px;
    background-size:cover ;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;

}
.inside-box a{
    color: #007185;

}
.backgroundhover :hover{
    color:rgb(170, 72, 72);
}

/** shopsection box divided contents**/


.sectorbox{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    height:320px;
    background-color: #F3DEDF;
}
    
.insidebox{
    
    height: 300px;
    width: 100%;
    background-color: white;
    margin-top: 1rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}
.insideheading{
    display: flex;
    
    height: 35px;
    width: 1386px;
    margin-left: 1rem;
    margin-top: 1rem;
}
.insideheading a{
    align-self: center;
    margin-left: 0.8rem;
    
}
.insideimage{
    display: flex;
    height: 230px;
    width:95%;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: white;
}
.insidebox-image{
    display: flex;
    justify-content: center;
    height:200px;
    width:15%;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 15px;
    
}

.boximage2{
    background-size: cover;
}

/**spacebox**/
.spacebox{
    height:20px ;
    background-color: #F3DEDF;;
}








/**middleblock**/

.middlebox{
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 200px;
    width: 1700;
    line-height: 2px;
    padding-top: 50px;
    
}




.signins{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 0.5px solid white;

}
.signins p{
    
    height: 15px;
    font-size: 13px;
}
.siginbutton button{
    background-color: #f0d146;
    width: 230px;
    height: 28px;
    border-radius: 5px;
    border: none;
}
.create-acnt{
    font-size:11px;
    padding-top: 15px;
}
.create-acnt a{
    color: #007185;
}
hr{
    position:relative ;

    width:1600px;
}







/**footer**/
footer{
    margin-top: 15px;
}

/**footpannel 1**/
.footpannel1{
    background-color: #37475a;
    color:white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;


}

/**footpannel 2**/
.footpannel2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    background-color: #222f3d;
    color: white;
    height: 500px;
    
}
ul a{
    color: #DDDDDD;
    margin-top: 15px;
    font-size: 0.85rem;
    display:block

    
}

/**footpannel 3**/

.foot-pannel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.langbox{
    background-color: #222f3d;
    color: white;
    height: 33px;
    width: 110px;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
    border-radius: 5px;

    
}
.langbox select{
    width:15px;
    background-color: #222f3d;
    color: white;
    border:none;
    padding-left: 30px;
}

.foot-pannel4{
    height:100px;
    background-color: #131A22;
    color: #DDDDDD ;
    font-size: 12px;
    text-align: center;
    
    
}
.foot-pannel4 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    padding-top: 13px ;
    
    
}
.foot-pannel4 a{
    display: flex;
    padding-left: 15px ;
    
    
}
.foot-pannel4 a:hover{
    text-decoration: underline;
    
}